.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panels {
  display: flex;
  flex-direction: row;
  gap: 1px;
  overflow-x: hidden;
  border-left: 75px solid #222;
  border-right: 75px solid #222;
  padding: 15px 0;
}

.stage {
  height: 120px;
  transform: translateY(-40px);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-image: linear-gradient(#222, #777);
  z-index: -1000;
}
